p
{
	text-align: justify;
	font-size: 13pt;
	line-height: 14pt;
}

h2
{
	text-align: center;
	font-size: 30pt;
	line-height: 14pt;
	background-color: #00FF00
}
/* These headings are in the colour green, so people can see that these are the headings underneath the titles */

h3
{
	text-align: center;
	font-size: 25pt;
	line-height: 14pt;
	background-color: #00F0F0
}
/* These headings are in the colour blue, so people can see that these are the sub-headings underneath the main heading */

body
{
	font-family: Verdana, "Arial Narrow", Sans-Serif;
}

/* This is written like this, so incase the Verdana isn't there is will use Arial Narrow, and if that isn't there it will use Sans-Serif*/


body .centres  /*The class where the video player is located*/
{

width: 100%;

margin: 0 auto;

text-align: center;

}

body .centers  /*The class where the video player is located*/

{
width: 50%;

margin: 0 auto;

display: block;

}

.center /*The class where the rest of the images are located*/
{ 
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.centre 
{
  
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

h1
{
	text-align: center;
}

img
{
	border-color : black;
	border-width : medium;
	border-style : solid;
	padding : 5% ;
	margin : 2% ;
}

